<div class="wrapper">
  <h2>Edit your existing booking.</h2>
  <%= form_with(model: @booking, local: true) do |f| %>
  <div class="form-group">
    <%= f.label :date %>
    <%= f.date_field :date, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :slot %></br>
    <%= f.collection_select :timeframe_id, @timeframes, :id, :slot %>
  </div>
  <div class="form-group">
    <%= f.submit "Edit my table",class: "button-create" %>
  </div>
  <% end %>
  </div>
